<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.name }} | Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="card">
        <img src="{{ data.image_url }}" alt="Anushka Profile">
        <h1>{{ data.name }}</h1>
        <p>{{ data.role }}</p>
        <div class="links">
            <a href="{{ data.linkedin }}" target="_blank">LinkedIn Profile</a>
            <a href="{{ data.resume_link }}" target="_blank">View My Resume</a>
        </div>
    </div>
</body>
</html>
